* {
    margin: 0px;
}

.color {
    background-color: teal;
    height: 100vh;
    width: auto;
    margin: 0px;
}

#paragraph {
    color: lightgray;
    background-color: teal;
    font-size: xx-large;
    text-align: center;
    padding: 50px;
}

.getNumber {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    background-color: teal;
}

#getNumber {
    width: 70%;
    height: 7vh;
    text-align: center;
}

.userNumber {
    display: flex;
    justify-content: center;
    align-items: center;
}

.random {
    display: flex;
    justify-content: center;
    align-items: center;
}